<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>componenteButton</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-button>Default</ion-button>
<ion-button expand="full">Full</ion-button>
<ion-button expand="block">Block</ion-button>
<ion-button round>Round</ion-button>
<ion-button full="outline">Full + Outline</ion-button>
<ion-button color="danger" ><ion-icon name="star-outline"  slot="end"></ion-icon>LIKE</ion-button>
</ion-content>
