<ion-header>
  <ion-toolbar>
    <ion-nav-buttons slot="star">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-buttons>
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs>

    <ion-tab-bar  slot="bottom">
      <ion-tab-button  tab="Shedule">
      <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>





        <ion-tab-button  tab="map">
        <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>



     
          <ion-tab-button  tab="Shedule">
          <ion-icon name="alert-outline"></ion-icon>
            <ion-label>Notificações</ion-label>
          </ion-tab-button>
        </ion-tab-bar>

</ion-tabs>


</ion-content>
