<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Layout</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="padding">
<ion-button expand="full" (click)="abrirPagina('layout-header-footer')">Header e Footer</ion-button>
<ion-button expand="full" (click)="abrirPagina('layout-menu')">Menu</ion-button>
<ion-button expand="full" (click)="abrirPagina('layout-tabs')">Tabs</ion-button>
<ion-button expand="full" (click)="abrirPagina('componente-badge')">Badge</ion-button>
<ion-button expand="full" (click)="abrirPagina('componente-button')">Botões</ion-button>
<ion-button expand="full" (click)="abrirPagina('componente-card')">Card</ion-button>
<ion-button expand="full" (click)="abrirPagina('componente-fab')">Fab</ion-button>
<ion-button expand="full" (click)="abrirPagina('componente-input')">Input</ion-button>
<ion-button expand="full" (click)="abrirPagina('componente-datatime')">Data Time</ion-button>
</ion-content>
