<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>componenteFab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Posições do componente Fab</h3>

  <ion-fab vertical="top">
    <ion-fab-button>
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>

  </ion-fab>
  <ion-fab vertical="center">
      <ion-fab-button>
        <ion-icon name="add">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>

      <ion-fab vertical="bottom"  horizontal="end">
          <ion-fab-button>
            <ion-icon name="add">
            </ion-icon>
          </ion-fab-button>
        </ion-fab>


        <ion-fab vertical="bottom"  horizontal>
            <ion-fab-button>
              <ion-icon name="add">
              </ion-icon>
            </ion-fab-button>
          </ion-fab>

</ion-content>
