<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>componente Input</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-label>Padrão</ion-label>
  <ion-input></ion-input>
  <ion-label>Com valor</ion-label>
  <ion-input value="123"></ion-input>
  <ion-label>Placeholder</ion-label>
  <ion-input placeholder="Informe seu nome"></ion-input>
  <ion-label>Types</ion-label>
  <ion-input type="number"></ion-input>


</ion-content>
